@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");
@import url('https://fonts.googleapis.com/css2?family=Unna&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");



@font-face {
    font-family: "Raleway-Bold";
    src: url("about.html/Fonts/Raleway/static/Raleway-Bold.ttf") format("ttf");
    font-weight: 200;
}

* {
    box-sizing: border-box;
    font-family: Roboto;   
    color: #777;
}

html, body {
    margin: 0;
    padding: 0;
}

.main-nav {
    padding-top: 5px;
    text-align: right;
    font-size: 1.75em;
    font-weight: line;
    padding-bottom: 5px;
    padding-right: 40px;

}

.main-nav a {
    padding: .125em;
    color: rgb(209, 209, 209);
    text-decoration: underline;
} 

.main-nav a:hover {
    background-color: rgba(255, 255, 255, .5);
}

.main-nav li {
    padding: 0 5;
}

.nav ul {
    margin: 0;
}

.nav li{
    display: inline;
}

.comp-name {
    margin: 0;
    font-size: 3.5em;
    font-family: "Raleway-Bold";
    padding: 0 35px;
    animation: fadeIn 5s;
    color:rgb(159, 216, 3);
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.main-header {
    background-image: url("about.html/images/Main-background.png");
    background-position: center;
    background: cover;
    padding-bottom: 35px;
}

.content-section {
    margin: 1.25em;
    font-size: 1.15em;
    letter-spacing: 1px;
}

.content-section ol {
    text-decoration-style: none;
}






.body {
    margin: 20px;
    text-align: center;
}

.text-wrap {
    margin: 20px;
    text-align: justify;
    color:#161615;
}

.p1-img {
    float: left;
    margin: 20px;
    height: 200px;
    margin-top: -5px;
    border-radius: 12px;
}

.content-section ul{
    display: inline-block;
    margin: 0 2.65em;

}

.content-section ul img {
    display: inline-block;
    margin: 0 2.15em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1.25em;
}

.close-line {
    padding-top: 20px;
}

.header-section {
    color: #333;
    text-align: center;
    font-size: 1.75em;
    padding-top: 10px;
}


.main-footer {
    background-color: rgb(18, 73, 105);
}

.image {
    padding-top: 25px;
    transition: transform .2s;
    border: none;
    width: 120px;
    height: 180px;
    border-radius: 50%;
    margin: 0 5em;

}

.image-zoom {
    display: inline-flex;
    padding: 50px;
    transition: transform .2s;
    width: 375px;
    height: 300px;
    margin: 10px 1.75em;
}

.image-zoom2 {
    display: inline-flex;
    padding: 50px;
    transition: transform .2s;
    width: 250px;
    height: 300px;
    margin: 10px 6.85em;
}

.image-zoom:hover, .image-zoom2:hover, .image:hover {
    transform: scale(1.45);
}

.h1-index {
    padding-bottom: 20px;
    font-style: italic;
}


.main-footer-container {
    margin-top: 50px;
    padding-top: 20px;
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.main-footer-container h4 {
    margin: 25px;
    font-size: 2.5em;  
}

.nav-footer li {
    padding: 10px;
}

.footer-name {
    margin: 25px;
    font-size: 2.5em;
}

/*shop item section*/

.shop-item {
    margin: 30px;
    justify-content: space-around;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.75em;
    color: #333;
    margin-bottom: 10px;
}

.index-zoom {
    display: inline-block;
    height: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 45px;
    transition: transform .2s;
}

.index-zoom2 {
    display: inline-block;
    height: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 45px;
    transition: transform .2s;
}

.index-zoom:hover, .index-zoom2:hover {
    transform: scale(1.15);
}



.shop-item-img {
    height: 375px;
    width: 300px;
    border-radius: 20px;
}

.ol-list {
    padding-top: 5px;
    padding-bottom: 5px;
}

.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}

.shop-item-price {
    font-weight: bold;
    flex-grow: 1;
    color: #333;
}

.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cart-header {
    font-weight: bold;
    font-size: 1.425em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.125em;
    color: #333;
}


.cart-quantity {
    width: 35%;
}

.support-btn {
    display: block;
    background-color: #EB5757;
    width: 165px;
    height: auto;
    color: white;
    border: 1px;
    font-size: 1.25em;
    border-radius: 10px;
}

.upload-btn {
    display: block;
    background-color: #EB5757;
    width: 200px;
    height: 75px;
    color: white;
    border: 1px;
    font-size: 1.25em;
    border-radius: 10px;
}

.support-btn:hover, .upload-btn:hover {
    background-color:white;
    color: #EB5757;
    border-style: solid;
    border-color: #EB5757;
    transition: all .30s ease-out;
}

.cart-item-title {
    color: #333;
    margin-left: .75em;
    font-size: 1.125em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 5px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #801b1b;
}

.cart-quantity-input {
    height: 40px;
    width: 45px;
    border-radius: 5px;
    border: 1px solid #161615;
    color: #333;
    font-size: 1em;
    text-align: center;
    padding: 0;
}


.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.input-design {
    display: flex;
    align-items: center;
    width: 900px;
    height: 40px;
}


.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 20px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
    margin-right: 15px;
}

.button-purchase {
    display: block;
    margin: 75px auto 35px auto;
    font-weight: bold;
    padding: 10px;
    font-size: 1.25em;
    background-color: #161615;
    border: none;
    border-radius: 7px;
    color: white;
    letter-spacing: none;
}

.button-purchase:hover {
    background-color: rgb(42, 77, 78);
}

.purchase-button {
    display: block;
    text-align: center;
    font-size: 1.75em;
    
}



/*shop item section end*/

/*shop button code*/
.add-to {
    display: inline-flex;
    height: 40px;
    width: 150px;
    margin: 20px 20px 20px 20px;
    text-transform: uppercase;
    font-size: .8em;
    letter-spacing: 1.25px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

#button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button a {
    position: relative;
    transition: all .45s ease-out;
}


#spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 70px;
    top: 20px;
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all 0.5s ease-out;
}

#button:hover #spin {
    width: 200%;
    height: 500%;
    opacity: 1;
    left: -70px;
    top: -70px;
    background: #161615;
    transform: rotate(85deg);
}


#button:hover #translate {
    left: 0%;
}

#button:hover a {
    color: cadetblue;
}


.popup-container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #152238;
}

.popup-btn {
    padding: 50px 100px;
    cursor: pointer;
    background-color: #203354;
    border: 0;
    font-size: 1.5em;
    font-weight: 400;
    border-radius: 100px;
    color:#fff;
}

.popup-container h3 {
    display: none;
}

.html-css-js{
    display: none;
}

.popup {
    width: 900px;
    background: #fff;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 25px 25px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s;
    transition: top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 53%;
    transform: translate(-50%,-50%) scale(1);

}

.menu-container {
    background-color: #152238;
    width: 190px;
    height: 100px;
    margin-left: 150px;
    border-radius: 25px;
}

.menu-container ul li {
    height: 20px;
    visibility: visible;
}

.menu-container ul li a {
    color: white;
    padding-right: 45px;
}

.show-menu {
    visibility: hidden;
    

}
.show-menu ul {
    display: none;

}

.popup ul {
    list-style: none;
}

.popup li {
    color: #111;
    margin: 25px;
    align-items: center;
}

.popup-img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    margin-top: -75px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup-img-code {
    display: none;
}

.popup h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 50px 0 30px;
}

.logo {
    display: none;
    position:fixed;
    margin-left: 295px;
    margin-top: 5px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;

}

.popup a {
    width: 200px;
    height: auto;
    background-color: #333;
    font-size: 1.25em;
    cursor: pointer;
    color:#fff;
    border-radius: 17px;
    padding: 15px;
    text-decoration: none;
}

.popup a:hover {
    background-color: #fff;
    border-style: outset ;
    border: .25;
    transition: all .20s ease-out;
    color: #333;
}

.popup-btn:hover {
    background-color: #23395d;
    border: 1;
    transition: all .20s ease-out;
    color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width:700px) {

    .main-nav {
        width: 100%;
        height: 10%;
        position: fixed;
        top: 15px;
        right: 5px;
        z-index: 2;
    }
   
    .main-nav a {
        font-size: 15px;
        color: #111;
        text-decoration: none;
    }
    .main-nav ul {
        display: block;
        margin-top: 60px;
    }


    .main-nav li {
        display: block;
        visibility: hidden;
        height: 25px;

    }



    .input-design{
        width: 300px;
    }

    .comp-name {
        display: none;
    }

    .main-nav img {
        display: block;
        justify-content: right;
        align-items: right;

    }

    .popup-btn {
        display: flex;
    }

    .popup {
        width: auto;
        height: 500px;
    }
    .popup-container h2 {
        display: none;
    }
    .popup-container h3 {
        display: block;
        font-size: 15px;
        padding-bottom: 15px;
    }

    .popup a {
        margin-top: 10px;
    }

    .html-css-js {
        display: block;
        width: 150px;
        margin-left: 49px;
        margin-top: -20px;
        padding-bottom: 15px;
    }
    .popup ul{
        display: none;
    }
    .main-header {
        background: none;
        background-color: #fff;
        margin-bottom: 50px;
    }

    .container {
        text-align: center;
    }

    .content-section {
        font-size: 15px;
    }

    .image-zoom {
        display: inline-flex;
        width: 40%;
        height: 40%;
        padding: 25px;
        margin-left: -35px;   
    }
    .image-zoom2 {
        display: inline-block;
        width: 62px;
        height: 80px;
        padding: 0px;
        margin-left: 40px;
        margin-right: 25px;
        margin-bottom: 30px;

    }
    .index-zoom:hover {
        transform: scale(1);
    }

    .index-zoom2:hover {
        transform: scale(.75);
    }
    
    .image {
        display:inline-block;
        width: 30%;
        height: 30%;
        align-items: center;
    }

    .image:nth-child(3) {
        display: none;
    }

    .index-zoom {
        width: 50%;
        height: 25%;
    }

    .index-zoom2 {
        width: 50%;
        height: 25%;
    }
    .p1-img {
        width: 50%;
        height: 25%;
    }
    
    
}
